@import "./consts.scss";

.top-row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-icon {
  width: 80px;
  height: 80px;
}

.contact-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.section {
  margin-bottom: 10px;
}

.section-title {
  font-size: 1.1rem;
}
.section-value {
  font-size: 1.4rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.edit-button,
.delete-button {
  transition: 0.2s;
  margin-left: 20px;
  cursor: pointer;
  &:hover {
    filter: brightness(0.8);
  }
}

.edit-button {
  color: $primary;
}

.delete-button {
  color: #ff4d4f;
}

.edit-input {
  height: 35px;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 1.3rem;
  border: none;
  border-bottom: 1px solid $secondary;
  outline: none;
}

.delete-modal {
  text-align: center;
  font-size: 1.4rem;
}

.delete-mode-buttons {
  margin: auto;
}
