.list {
  height: 100%;
  background-color: #1f1e1f;
  border-radius: 10px;
  padding: 2em;
  margin-top: 90px;
  width: 90%;
  margin: auto;
  color: #f9f9f9;
  font-size: 1.4rem;
}

.logout {
  background-color: #3d3d3d;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: antiquewhite;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    filter: brightness(0.8);
  }
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.table {
  width: 100%;
  text-align: start;
  font-size: 1.4rem;
  border-collapse: collapse;
  border-spacing: 0;
  // height: 100%;
  //   overflow-y: auto;

  th {
    text-align: start;
  }

  //   tr {
  //     border-radius: 10px;
  //   }

  th,
  tr:not(:last-child) {
    border-bottom: 1px solid #3d3d3d;
  }

  tr:nth-child(even) {
    background-color: #3d3d3d;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    display: flex;
    flex-flow: column;
  }
  /* scrolltable rules */
  table {
    margin-top: 20px;
    display: inline-block;
    overflow: auto;
  }
  th div {
    margin-top: -20px;
    position: absolute;
  }

  .tableContainer {
    height: 30vh;
  }

  tr {
    overflow: hidden;
    height: 50px;
    white-space: nowrap;
  }
}

.pagination {
  display: flex;
  background-color: #3d3d3d;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  width: 30%;
  position: absolute;
  left: 10vw;
  bottom: 5vh;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  width: 80px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  transition: 0.2s;
  user-select: none;
  &:hover {
    filter: brightness(0.8);
    cursor: pointer;
  }

  svg > * {
    stroke: antiquewhite;
  }
}

.search-wrapper {
  position: relative;
}

.search-icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 4px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
}

.search-input {
  height: 35px;
  box-sizing: border-box;
  background-color: transparent;
  padding-left: 1.5rem;
  font-size: 1.3rem;
  color: antiquewhite;
  border-right: none;
}

.reverse {
  transform: rotate(180deg);
}
